<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/styles/header.css" />
    <script src="/scripts/header.js" defer></script>
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="icofont/icofont.min.css" rel="stylesheet">
  <link href="boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="venobox/venobox.css" rel="stylesheet">
  <link href="owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/styles/donationCamp.css" rel="stylesheet">

  
</head>

<body>


    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg bg-white rounded mt-5">
        <%- include("./header") %>
      <div class="container">

        <div class="section-title mt-5" data-aos="fade-up">
          <h2>Relief</h2>
          <p>Donation Events</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="/donation-camp/present">Ongoing</a></h4>
              <p class="description">Take a look at presently ongoing donation events.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="/donation-camp/future">In Future</a></h4>
              <p class="description">Glimps of our future event, Happy to see you on board.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="/donation-camo/past">Sucess in Past</a></h4>
              <p class="description">Be pleased to see our sucessuful Past.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

  <!-- Vendor JS Files -->
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/jquery.easing/jquery.easing.min.js"></script>
  <script src="/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/venobox/venobox.min.js"></script>
  <script src="/owl.carousel/owl.carousel.min.js"></script>
  <script src="/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <!-- <script src="js/main.js"></script> -->

</body>

</html>